src/main/mule/s-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d55ad66c-68b5-4ae4-b80a-87c1924dcb75" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="s-dbFlow" doc:id="5b7c85c6-9ec7-488a-816d-72c91992cb98" >
		<http:listener doc:name="Listener" doc:id="dfbe2ccd-55a1-4187-967c-eb5f498e2683" config-ref="HTTP_Listener_config" path="/db"/>
		<ee:transform doc:name="Transform Message" doc:id="8276dc26-bf14-4c78-a5a2-f9ba0039acc6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{  
	userID: 10030812,
	name: "Jonny",
	last_name: "Moor",
	email: "Jonny.Moor@webinar.com"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload default vars.db]" doc:name="Set Variable" doc:id="26591df1-0772-4ca8-aacc-88c78aaeda8e" variableName="db"/>
		<set-payload value="#[vars.db]" doc:name="Set Payload" doc:id="a71d2cdc-5ee0-40c7-a1cd-4d41df628f3e" />
	</flow>
</mule>
